@use "@/styles/mixins/bem" as *;
@use "@/styles/mixins/namespace" as *;
@use "@/styles/mixins/function" as *;

@include b(pro-descriptions) {
  @include el-joins(descriptions) {
    // label 背景色
    --el-descriptions-item-bordered-label-background: rgb(var(--#{$admin-namespace}-gray-200-rgb), 0.3) !important;
  }

  @include e(label) {
    min-width: 80px;

    &.is-required {
      &::before {
        margin-right: 4px;
        color: cssVarEl(color-danger);
        content: "*";
      }
    }
  }
}
